@charset "UTF-8";
div.section {
    width: 100%;
    padding-top: 0px;
    margin-bottom: 55px;
    text-align: center;
    margin: auto;
}

#writebtn {
  	margin-bottom : 10px;

}

table {
    border-collapse: collapse;
}

.section > hr{
    margin-bottom: 40px;
}

.board_list_wrap {
    padding: 50px;
}

.board_list {
    width: 90%;
    margin: auto;
    border-top: 2px solid #999;
}

.board_list tr {
    border-bottom: 1px solid #ccc;
}

.board_list th,
.board_list td {
    padding: 10px;
}

.board_list td {
    text-align: center;
}

.board_list td img{
    height: 100px;
}

.board_list .tit {
    text-align: left;
}

/* =============== 페이지 버튼 =============== */
.page_wrap {
	text-align:center;
	font-size:0;
    padding-top: 70px;
    padding-bottom: 70px;
}
.page_nation {
	display:inline-block;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}
.page_nation .arrow {
	border:1px solid #ccc;
}
.page_nation .pprev {
	background:#f8f8f8;
	margin-left:0;
}
.page_nation .prev {
	background:#f8f8f8;
	margin-right:7px;
}
.page_nation .next {
	background:#f8f8f8;
	margin-left:7px;
}
.page_nation .nnext {
	background:#f8f8f8;
	margin-right:0;
}
.page_nation a.active {
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}