@charset "utf-8";

html,
body {
    margin: 0;
    font-family: 나눔스퀘어, 'NanumSquare', sans-serif;
    font-size: 18px;
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

img {
    vertical-align: top;
}

* {
    box-sizing: border-box;
}

hr{
    margin: 0;
}

ul {
    padding-left: 0px;
    margin-top: 0px;
}

/* =================== 와이어프레임 ===================*/

main {
    width: 1280px;
    margin: auto;
}

header {
    Position: sticky;
    top: 0;
    width: 100%;
    background-color: white
}

footer {
    width: 100%;
    height: 150px;
    background-color: #0232e4;
    color: white;
    text-align: center;
    padding-top: 50px;
}


/* =================== 헤더 디자인 ===================*/


/* -----------------  nav_top ----------------- */
.nav_top {
    height: 50px;
    margin: auto;
    list-style-type: none;
    text-align: right;
    padding-top: 15px;
}

.nav_top li {
    display: inline;
    border-left: 1px solid #c0c0c0;
    padding: 0px 20px 0px 20px;
    margin: 5px 0px 5px 0px;
}

.nav_top li:first-child {
    border-left: none;
}

/* -----------------  nav_middle ----------------- */
.nav_middle {
    display: flex;
    align-items: center;
}

.search {
    position: relative;
    width: 600px;
    left: 100px;
}

.search > input {
    position: relative;
    width: 100%;
    border: 2.5px solid #0232e4;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 18px;
}

.search > img {
    position: absolute;
    width: 25px;
    top: 10px;
    right: 12px;
    margin: 0;
}

.nav_middle_right {
    width: 600px;
    padding-left: 150px;
    margin: 0px;
}

.nav_middle_right>li {
    list-style: none;
    float: left;
    margin-left: 30px;
}

/* 드롭다운 */
.drop_down {
    width: 120px;
    padding: 0;
    margin: 0;
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.drop_down>li {
    list-style: none;
    background-color: white;
}

.drop_down>li>a {
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    align-items: center;
    padding-top: 8px;
}

.drop_down>li>a:hover {
    background-color: #EAEAEA;
}

.nav_middle_right>li:hover .drop_down {
    height: 160px;
}

.dashed {
    margin: auto;
    width: 80%;
    height: 1px;
    border-bottom: none;
}