#img01{
    width: 300px;
    height: 135px;
    margin-top: 20px;
    cursor: pointer;
}

#wrap01{
    width: 100%;
    height: 900px;
    /* border: 1px solid; */
    margin-top: 10px;
}
#header01{
    height: 10%;
    /* border: 1px solid; */
    text-align: center;

}
#content01{
    height: 60%;
    /* border: 1px solid; */
    text-align: center;
}
#footer01{
    margin-top: 10%;
    height: 30%;
    /* border: 1px solid; */
    text-align: center;
}
#forlog{

/* border: 1px solid; */
width: 80%;
height: 80%;
margin-left: 10%;
margin-top: 5%;
text-align: center;
line-height: 60px;
padding: 5px;

}


#logId,#logPassword{
    height: 38px;
    width: 293px;
    font-size: 20px;
    border-radius: 5px;
}


#loginbtn{
    width: 300px;
    height: 40px;
    background-color: rgb(2, 50, 228);
    color: white;
    border-radius: 5px;

}
.in{
    width: 300px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    line-height: 30px;
    cursor: pointer;
    border-radius: 5px;

}
#insolbtn{
    width: 300px;
    height: 40px;
    border-radius: 5px;
}
.api{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    
}