@charset "UTF-8";

div.section {
    width: 100%;
    height: 1200px;
    /* background-color: skyblue; */
    padding-top: 0px;
    margin-bottom: 55px;
    text-align: center;
    margin: auto;
}


.btn {
    background-color: #0232e4;
    color: white;
    width: 90px;
    height: 35px;
}


.amount {
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
}

.amount > li {
    flex: 1;
    height: 132px;
    background: #fff;

}


.amount > li > div {
    text-align: center;
    background: #fff;
    margin-top: 37px;
}


.amount > li:not(:last-child) > div {
    border-right:1px solid gray;
}

.intro_text {
    width: 100%;
    margin: 150px auto 150px auto;
    background: #fff;
    text-align: center;
    font-size: 20px;
}

#view-container {
	text-align:center;
}
	
#view-container input {
	margin:3px;
}
	
#view-container table {
	margin:0 auto;
}
	
#view-container table th {
	padding:0 10px; 
	text-align:right;
}
	
#view-container table td {
	padding:0 10px; 
	text-align:left;
}

/* 내 상점 */
.product_count {
    margin-left: 50px;
    margin-top: 20px;
}

.product {
    height: 86px;
    text-align: center;
    font-size: 20px;
    margin: auto;
    margin-top: 43px;
}

.absolute {
    position: absolute;
    bottom: 350px;
    right: 10px;
}

.product_enroll {
    display: flex;

    margin: auto;
}

.product_enroll > li {
    flex: 1;

    text-align: center;
}

.product_enroll > li:not(:last-child) {
    margin-right: 20px;
}



/* 1:1 문의 */
button {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
}

.board_list_wrap {
    padding: 50px;
}

.board_list {
    width: 90%;
    margin: auto;
    border-top: 2px solid #999;
}

.board_list tr {
    border-bottom: 1px solid #ccc;
}

.board_list th,
.board_list td {
    padding: 10px;
}

.board_list td {
    text-align: center;
}

.board_list .tit {
    text-align: left;
}

.board_list tit:hover {
    text-decoration: underline;
}


.product_list td {
    padding: 20px;
}

.product_list {
    margin-left:auto;
    margin-right:auto;
}