
body {
    margin: 0;
    font-family: 'NanumSquare', sans-serif;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
.container {
    padding: 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 160px 530px 450px;
    grid-template-rows: 100px 250px 150px 1fr 0.1fr 200px;
    height: 100%;
    width: 100%;
    grid-gap: 30px;
    grid-template-areas:
    'side_img main_img product_title'
    'side_img main_img product_info'
    'side_img main_img toolbar'
    'side_img product_detail product_detail'
    'reply_contents reply_contents reply_contents'
    'reply_write reply_write reply_write';

}

.container div{
    padding: 0px;
    /* border: 1px solid #000; */
    /* display: grid; */
    /* text-indent: 5px; */
}


/* 사이드 이미지 영역 */
.side_img{
    grid-area: side_img;    
    justify-items:center;
    display: grid;
}
.side_img_list{
    grid-area: side_img_list;
    width: 100px;
    height: 200px;
}
.side_img_box {
    width: 120px;
    height: 120px;
    margin-bottom:  30px;
    cursor: pointer;
}
.side_img_box img {
    width: 100%;
    height: 100%;
}



/* 메인 이미지 영역 */
.main_img{
    grid-area: main_img;
    justify-items: center;
}
.main_img img{
    width: 100%;
    height: 100%;
}
#main_img_box {
    width: 520px;
    height: 520px;
}



.product_info{
    grid-area: product_info;
}
.product_title{
    grid-area: product_title;
    justify-items: start;
}


/* 게시글 내용 영역 */
.product_detail{
    grid-area: product_detail;
    height: 100%;
}




/* 게시글 제목 영역 */
#product_name{
    display: inline;
    padding: 0;
    border: none;
    line-height: 20px;
}
#product_name hr{
    width: 390px;
}

/* 게시글 상세 영역 */
.product_info{
    display: grid;
    grid-template-areas:
    'fix vari';
    grid-template-columns: 1fr 2fr;
    
    padding-left: 10px;
    
}
.product_info ul{
    line-height: 35px;
    justify-items: start;
    align-items: flex-start;
}
#product_info_fixval {
    grid-area: fix;
    padding-left: 10px;
}
#product_info_varival {
    grid-area: vari;
    padding-left: 10px;
}
#product_info_varival span {
    position: relative;
    left: 50%;
    font-size: 8px;
    color: lightgray;
    cursor: pointer;
    }
#product_info_varival span img {
    position: relative;
    top: 10px;
    opacity: 0.5;

}
/* 게시글 툴바 영역*/
.toolbar{
    grid-area: toolbar;
    align-items: center;
    display: grid;
    grid-template-areas: 
    'like view share'
    'buy buy comment';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;

}
/* 툴바 각 상세 */
.toolbar span {
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.toolbar img {
    padding-left: 5px;
}
#toolbar_like{
    grid-area: like;
    vertical-align:middle;
}
#toolbar_view{
    grid-area: view;
    vertical-align:middle;
    cursor:default;
}
#toolbar_share{
    grid-area: share;
}
/* 툴바 공유버튼 */
.toolbar_share_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toolbar_share_modal .toolbar_share_modal_bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .toolbar_share_modalBox {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 400px;
    padding: 15px;
  }

  .toolbar_share_modalBox span {
    display: block;
    margin: 0 auto;
  }

  .hidden {
    display: none;
  }
  .toolbar_share_modalBox li {
    line-height: 30px;
    padding-top: 30px;
    padding-left: 10px;

  }
  .toolbar_share_modalBox img {
    cursor: pointer;
  }

#toolbar_buy{
    grid-area: buy;    
}
#toolbar_comment{
    grid-area: comment;
    cursor: pointer;
}



/* 댓글창 영역 */
.reply_contents{
    grid-area: reply_contents;
    background-color:rgba(220,220,220,0.4);
}
.reply_contents_delete{
    cursor: pointer;
    position: relative;
    bottom: 2px;
    opacity: 0.7;
}


.reply_contents_userIcon{
    position: relative;
    left: 10px;
}
.reply_contents span {
    position: relative;
    left: 20px;
    bottom: -5px;

    text-align: center;

}
.reply_contents li {
    position: relative;
    top: 10px;
}

#reply_contents_date {
	font-size: 3px;
	padding-left: 10px;
}
#reply_contents_writer{
	font-weight: bold;
	padding-right: 30px;
}


/* 댓글 입력창 영역 */
.reply_write{
    margin-bottom: 50px;
    grid-area: reply_write;
    position: relative;;
}
#reply_write_id_icon {
    display: inline-block;
    position: absolute;
    top: 33.3%;
    left: 10px;
}
#reply_write_id {
    position:absolute;
    left: 50px;
    top:  36%;
}
#reply_write_upbtn{
    position: absolute;
    left: 90%;
    top: 30%;
    background: url('/soldsoldmarket/resources/images/button/cmtupbtn.png');
    width: 101px;
    height: 51px;
    border: none;
    cursor: pointer;
}
.reply_write textarea {
    position:absolute;
    left: 180px;
    width: 70%;
    height: 90%;
}

